@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); */
* { box-sizing: border-box; margin: 0; padding: 0; }
body {
  font-family: 'poppins', sans-serif;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(136deg, #eae43d, #fe5900e4);
  color: #2d3436;
}
.container {
  background: rgba(236, 238, 207, 0.95);
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  width: 90%;
  max-width: 420px;
  text-align: center;
}
h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #2d3436;
}
p{
  margin-bottom:10px ;
  font-size: 20px;
}
.date {
  font-size: 20px;
  color: #3a3b42;
  margin: 10px 0 15px;
}
.search-box {
  display: flex;
  margin-bottom: 25px;
}
input {
  flex: 1;
  padding: 14px;
  border: none;
  border-radius: 8px 0 0 8px;
  font-size: 16px;
  outline: none;

}
button {
  padding: 0 20px;
  border: none;
  background: #0984e3;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background 0.3s;
}
button:hover { 
    background: #076bb3;
}
.weather {
  display: none;
  margin-top: 20px;
}
.weather.show { 
    display: block; 
    animation: fadeIn 0.6s;
}
.temp {
  font-size: 64px;
  font-weight: 600;
  margin: 15px 0;
}
.city {
  font-size: 28px;
  margin-bottom: 10px;
}
.description {
  font-size: 20px;
  text-transform: capitalize;
  margin: 10px 0;
}
.details {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  font-size: 16px;
  gap: 5px;
}
.icon {
  width: 100px;
  height: 100px;
}
.error {
  color: #e74c3c;
  margin-top: 15px;
  font-weight: 600;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

